body {
  margin: 0;
}
.menu__item {
  font-family: Roboto;
}
body,
 .menu__item,
 .header,
 .main-section,
 .logo,
 .menu,
 .wrapper {
  /* border: dashed 1px red; */
}
.header {
   display: flex;
   margin: auto;
   width: 80%;
   margin-bottom: 100px;
   justify-content: space-between;
}
.main-section {
  margin: auto;
  width: 80%;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.logo, .menu {
  display: inline-block;
}
.header {
  display: flex;
  ustify-content: space-between;
}
.logo {
  padding: 40px 0 40px 40px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
  position: relative;
}
.logo__circle {
  width: 28px;
  height: 28px;
  top: 40px;
  left: 0;
  opacity: 0.7;
  border-radius: 50%;
}
.logo__circle_color_dark-blue {
  position: absolute;
  background: #0056EC;
}
.logo__circle_color_blue {
  position: absolute;
  left: 8px;
  top: 43%;
  background: #C8DBFB;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin: 0 13px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  margin-right: 26px;
}
.menu__item:last-child {
  padding-right: 0;
}
.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
  width: 100%;
}
.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainImg.svg)
}
.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;
}
.main__subtitle {
  margin: 0 0 41px 0;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}
.main__button {
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
.main__button {
  display: inline-block;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover {
  opacity: .5;
}
